{% extends 'training/base.html' %}


{% block content %}
<div class="single-pro-review-area mt-t-30 mg-b-15">
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div class="product-payment-inner-st">
                         <ul id="myTabedu1" class="tab-review-design">
                        <li class="active"><a href="#description">Course Milestones</a></li>
                    </ul>
                    <div id="myTabContent" class="tab-content custom-product-edit">

                        <div class="product-tab-list tab-pane fade active in" id="description">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="review-content-section">
                                        <div id="dropzone1" class="pro-ad addcoursepro">
                                            <form action="" method = "post" class="dropzone dropzone-custom needsclick addcourse" id="demo1-upload">

                                                {% csrf_token%}
                                                <div class="row">
                                                    <div class="row">
                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="margin-left: 18em;">
                                                                    <div class="admin-pro-accordion-wrap shadow-inner responsive-mg-b-30">
                                                                        <div class="alert-title">
                                                                            <h2></h2>
                                                                        </div>
                                                                        {% for miles in mile_list %}
                                                                        <div class="panel-group edu-custon-design" id="collapse{{ forloop.counter }}">
                                                                            <div class="panel panel-default">
                                                                                <div class="panel-heading accordion-head">
                                                                                    <h4 class="panel-title">
                                                                                        <a data-toggle="collapse" data-parent="#collapse{{ forloop.counter }}" href="#collapse1" >
                                                                                            {{miles.name}}</a>
                                                                                    </h4>
                                                                                </div>
                                                                                <div id="collapse1" class="panel-collapse panel-ic collapse in">
                                                                                    <div class="panel-body admin-panel-content animated bounce">

                                                                                        <ul>
                                                                                            {% for topic in miles.topic_list%}
                                                                                            <li>{{topic}}</li>
                                                                                            {% endfor %}
                                                                                        </ul>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        {% endfor %}
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
{% endblock content %}