{% extends 'manageuser/base.html' %}
{% block content %}

<div class="data-table-area mg-b-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="sparkline13-list">
                            <div class="sparkline13-hd">
                                <div class="main-sparkline13-hd">
                                    <h1>Course<span class="table-project-n">Details</span> Table</h1>
                                </div>
                            </div>
                            <div class="sparkline13-graph">
                                <div class="datatable-dashv1-list custom-datatable-overright">
<!--                                    <div class="button-style-four btn-mg-b-10">-->
<!--                                    <button type="button" class="btn btn-custon-rounded-four btn-danger" style="margin-left: 67em;" onClick="location.href='{% url 'training:add_course' %}'" >Add Course</button>-->
<!--                                    </div>-->
                                    <div id="toolbar">
                                        <select class="form-control dt-tb">
											<option value="">Export Basic</option>
											<option value="all">Export All</option>
											<option value="selected">Export Selected</option>
										</select>
                                    </div>
                                    <table id="table" data-toggle="table" data-pagination="true" data-search="true",
                                           data-show-columns="true" data-show-pagination-switch="true" ,

                                           data-resizable="true" data-cookie="true"
                                        data-cookie-id-table="saveId" data-show-export="true" data-toolbar="#toolbar">
                                        <thead>

                                                <tr>
                                                     <th>Course ID</th>
                                                    <th>Course Name</th>
                                                    <th>Course Duration</th>
                                                    <th>Description</th>
                                                    <th>Status</th>
<!--                                                    <th></th>-->
<!--                                                    <th></th>-->
<!--                                                    <th></th>-->
                                                    <th></th>

                                                </tr>
                                        </thead>
                                        <tbody>
                                            {% for cor in course %}
                                                <tr>

                                                    <td>{{cor.id}}</td>
                                                    <td>{{cor.course_name}}</td>
                                                    <td>{{cor.course_duration}}</td>
                                                    <td>{{cor.description}}</td>
                                                    {% if cor.status == True %}
                                                    <td>Active</td>
                                                    {% else %}
                                                    <td>Inactive</td>
                                                     {% endif %}

<!--                                                    <td>-->
<!--                                                    <form action="{% url 'training:view_course' cor.id %}" method="POST">-->
<!--                                                        {% csrf_token %}-->
<!--                                                        <button type="submit" class="fa fa-eye" aria-hidden="true" ,-->
<!--                                                                onclick="{% url 'training:view_course' cor.id %}"></button>-->
<!--                                                     </form>-->
<!--                                                    </td>-->

<!--                                                    <td>-->
<!--                                                     <form action="{% url 'training:edit_course' cor.id %}" method="GET">-->
<!--                                                         {% csrf_token %}-->
<!--                                                        <button type="submit" class="fa fa-edit" ,-->
<!--                                                                onclick="{% url 'training:edit_course' cor.id %}"></button>-->
<!--                                                     </form>-->
<!--                                                    </td>-->
<!--                                                    <td>-->
<!--                                                        <form action="{% url 'training:delete' cor.id %}" method="POST">-->
<!--                                                            {% csrf_token %}-->
<!--                                                            <button type="submit" class="fa fa-trash" ,-->
<!--                                                                onclick="{% url 'training:delete' cor.id %}"></button>-->
<!--                                                        </form>-->
<!--                                                    </td>-->

                                                    <td>
                                                        <form action="{% url 'manageuser:viewprogressbatch' cor.id %}" method="POST">
                                                            {% csrf_token %}
                                                            <button type="submit"  ,
                                                                onclick="{% url 'manageuser:viewprogressbatch' cor.id %}">Batch</button>
                                                        </form>
                                                    </td>



                                                </tr>
                                            {% endfor%}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}
